@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f8f3e9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #e9a43c;
}
a,
.logo-navbar h3 {
  white-space: nowrap;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input {
  overflow: visible;
}

/*-----------------------------------*\
 * #navbar
\*-----------------------------------*/
#showMenu {
  display: none;
}
.mobile_navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100%;
  background-color: #ffffff;
  height: calc(100% - 56px);
  padding: 1rem 20px;
  transition: left 0.4s ease-in-out;
  z-index: 1001;
}

.mobile_navbar.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.colse_mobilenav {
  color: #777777;
}
.colse_mobilenav span {
  margin-left: 15px;
}
.user_mobielnavbar {
  margin-top: 20px;
}
.dinarfor_mobile {
  border-top: rgba(0, 0, 0, 0.178) 1px solid;
  margin-top: 40px;
}
.section_mobile ul li {
  padding: 16px 0;
}
.section_mobile ul li button {
  list-style-type: none;
  font-size: 18px;
  padding: 8px;
  /* margin: 16px 0; */
  width: fit-content;
  margin: auto;
  line-height: 20px;
  /* margin-bottom: 20px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
}
.section_mobile ul .active {
  border: 2px solid #e9a43c;
  border-radius: 0.25rem;
  color: #e9a43c;
}
.section_mobile ul li button:hover {
  color: #e9a43c;
  transition: 0.2s;
}
.connect_button_mobile {
  background-color: rgb(233, 164, 60);
  color: white;
  padding: 10px 8px;
  font-size: 16px;
  /* width: 8rem; */
  text-align: center;
  cursor: pointer;
}
.connect_button_mobile:hover {
  border-radius: 0.5rem;
  filter: brightness(0.9);
}
.navbar {
  background-color: #fff;
  z-index: 99;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 2px 0 4px rgb(0 0 0 / 50%);
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #f8f3e9;
  padding: 1rem 2rem;
}
.icon__navbar {
  padding-right: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon_wrapper {
  position: relative;
  display: inline-block;
  /* margin: 0 10px; */
}
.icon-navbar .panier {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  margin-right: 2px;
}
.panier::after {
  position: absolute;
  content: "|";
  margin-left: 2px;
}
.svg-overlay-text {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 12px !important;
  background-color: rgb(240, 168, 68);
  border-radius: 9999px;
  padding: 2px 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__navbar:hover,
.icon__navbar:hover span {
  color: rgb(240, 168, 68);
}
.icon__navbar:hover .svg-overlay-text {
  color: #fff;
}
.icon__navbar svg {
  /* font-size: 16px; */
  width: 1.25rem;
  position: relative;
}
.icon__navbar span {
  font-family: "Poppins";
  font-size: 14px;
  padding-inline: 4px;
}
.logo_nav {
  display: flex;
  /* padding-left: 80px; */
}
.fa-solid {
  color: #00000096;
  padding-left: 10px;
  padding-right: 10px;
}
.fa-regular {
  color: #00000096;
  padding-left: 10px;
  padding-right: 10px;
}

.content-navbar {
  display: flex;
  align-items: center;
}
.content-navbar a {
  display: flex;
  align-items: flex-end;
  padding: 10px 0px;
  position: relative;
  font-size: 14px;
  color: #000000;
  margin-left: 18px;
  font-weight: 500;
  line-height: 1.1;
}
.content-navbar a::before {
  transition: 300ms;
  height: 1px;
  width: 80%;
  bottom: 0;
  content: "";
  position: absolute;
  background-color: rgb(233, 164, 60);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.content-navbar a:hover {
  color: rgb(233, 164, 60);
}
.content-navbar a:hover::before {
  opacity: 1;
}

.fa-solid {
  color: rgba(0, 0, 0, 0.774);
}
.fa-regular {
  color: #000;
}

.cartshoping_nav span {
  background-color: #00a8ff;
  border-radius: 50%;
  padding: 4px;
  font-size: 8px;
  position: relative;
  bottom: 10px;
  color: #fff;
  z-index: -1;
}
.logo-navbar h3 {
  font-family: "Poppins";
  padding-right: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75rem;
  color: rgb(240, 168, 68);
  cursor: pointer;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 280px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s;
  box-shadow: 2px 0 4px rgba(80, 80, 80, 0.5);
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background-color: #fff;
  padding: 20px;
}
.user_connect {
  display: flex;
  column-gap: 2.5rem;
}
.language {
  display: flex;
  gap: 10px;
}
.language button {
  font-size: 14px;
  padding: 4px 8px;
  outline: none;
  width: 32px;
  height: 28px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.language button:hover {
  color: rgb(233, 164, 60);
}
.language .active {
  background-color: rgb(233, 164, 60);
  color: white;
}
.language .active:hover {
  border-radius: 5px;
  color: white;
}
.connect_button {
  background-color: rgb(233, 164, 60);
  color: white;
  padding: 8px 0px;
  font-size: 16px;
  width: 8rem;
  text-align: center;
  cursor: pointer;
}

/* carousel */
.carousel-contante {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
  /* width: 100%; */
  overflow: hidden;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 70px !important;
  line-height: 0 !important;
  color: #ffffff;
  opacity: 0.75;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  content: "‹" !important;
}
[dir="rtl"] .slick-prev:before {
  content: "›" !important;
  padding: 10px;
}
[dir="rtl"] .slick-next {
  top: 70px;
  padding: 10px;
}
.slick-next:before {
  content: "›" !important;
}
[dir="rtl"] .slick-next:before {
  content: "‹" !important;
}
.images:hover .slick-next {
  right: 0 !important;
  transition: all 0.8s ease;
}
.images:hover .slick-prev {
  left: -40px;
  transition: all 0.8s ease;
}
.slick-next {
  right: 10px !important;
  top: 50% !important;
  /* opacity: 0.4 !important; */
  font-weight: 100 !important;
}
.slick-prev {
  left: 10px !important;
  z-index: 888;
  top: 50% !important;
  /* opacity: 0.4 !important; */
  font-weight: 100 !important;
}

.carousel-contante img {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  object-fit: cover;
}
.carousel-contante::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.carousel-contante1 {
  position: absolute;
  left: 20px;
  top: 50%;
  z-index: 2;
  color: #fff;
  text-align: left;
  max-width: 70%;
}
.icon-navbar {
  display: flex;
}
.title-caro {
  text-align: left;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  /* gap: 10px; */
}
.text_container:hover {
  background-color: #fff;
  opacity: 1;
}
.text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #2c2c2c;
}

.text select {
  font-size: 18px;
  color: #2c2c2c;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border: none;
}

.text_container a {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgb(233, 164, 60);
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  height: fit-content;
}
.text_container a span {
  color: #fff;
}
/* Categories */
.category_container {
  padding: 3.5rem 2rem;
  text-align: center;
}
.category_title {
  margin-bottom: 1.25rem;
}
.category_underline {
  width: 18rem;
  margin: auto;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.category_underline svg {
  width: 4rem;
}
.category_underline span {
  /* display: inline-block; */
  border: 0.5px solid black;
  width: 100%;
  /* margin: 0 1rem; */
}
.catimg {
  height: fit-content;
  width: 200px !important;
  object-fit: cover;
}

.catimg img {
  width: 200px !important;
  height: 300px;
  object-fit: cover;
  filter: brightness(1);
}
.catimg h1 {
  color: #2c2c2c;
  font-size: 1rem;
  padding: 20px 16px;
  font-weight: 700;
  line-height: 1.5rem;
}
.category_container .slick-slide > div {
  height: 420px;
}
.catimg:hover {
  box-shadow: 0 8px 16px -4px #888888;
}
.catimg:hover img {
  filter: brightness(1.1);
}
/* .category_container .slick-dots {
  display: none !important;
  */
.slick-dots li.slick-active button::before {
  font-size: 10px;
  color: #e9a43c !important;
}

/* video pub */
.pub_container {
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pub_container iframe {
  width: 60%;
  padding: 1rem;
  border: 4px solid #f0a8444d;
}

/* All Products */
.all_products {
  padding: 3.5rem 2rem;
}
.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: auto;
  text-align: center;
}
.prodimg {
  height: 450px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 8px 16px -4px #888888;
}

.prodimg img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(1);
}
.prodimg:hover img {
  filter: brightness(1.1);
}
.product_container h3,
span {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #2c2c2c;
  line-height: 24px;
}
.prod_info {
  padding: 0.5rem;
  height: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3efe8;
}
.prod_info button {
  color: #ffffff;
  background-color: #e9a43c;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 8px 28px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.prod_info button:hover {
  filter: brightness(0.9);
}
.prod_info svg {
  width: 1rem;
}
/* Banner */
.banner_container {
  height: 540px;
  padding: 3.5rem 1rem;
  display: flex;
  column-gap: 5rem;
  justify-content: center;
}
.image_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  gap: 2rem;
}
/* .column1 {
  width: fit-content;
} */
.column2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
.column1 img,
.column2 img {
  /* width: fit-content; */
  height: auto;
  max-width: 100%;
}
.banner_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}

.banner_text h1 {
  text-align: left;
  font-size: 36px;
  line-height: 40px;
}
.banner_text h6 {
  color: #2c2c2c;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.banner_text p {
  font-size: 20px;
  line-height: 35px;
  max-width: 36rem;
}
/* background banner */
.banner_background {
  background: url(/back_banner.svg) center/cover no-repeat;
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.empty {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.banner_background h1 {
  font-size: 30px;
  line-height: 36px;
  color: white;
  z-index: 1;
}
.banner_background p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  max-width: 42rem;
  z-index: 1;
}
.promotion {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  max-width: 45rem;
}
.promotion .case {
  margin-bottom: 1.5rem;
}
.promotion a {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  padding: 18px;
  background-color: #fff;
  height: 190px;
}
.promotion img {
  height: 30px;
  width: 18px;
}
.promotion h1 {
  color: #000;
  font-size: 24px;
  line-height: 32px;
}
.promotion p {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  max-width: 20rem;
  white-space: normal;
}
/*media quuiry*/
@media (min-width: 1024px) {
  .pub_container iframe {
    height: 550px;
  }
  .column1 img,
  .column2 img {
    width: 20rem;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 18px;
  }
  .carousel-contante img {
    width: 100%;
    height: 95vh;
  }
  .slick-next {
    opacity: 1 !important;
  }
  .slick-prev {
    opacity: 1 !important;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row-reverse;
  }
  .logo-navbar {
    margin-left: auto;
  }
  .icon__navbar {
    padding: 0;
  }
  .content-navbar {
    display: none;
  }

  #showMenu {
    display: contents;
    cursor: pointer;
  }
  .icon__navbar {
    padding-right: 8px;
  }
  .fa-bars,
  .fa-times {
    font-size: 25px;
    padding-left: 10px;
    line-height: 0;
  }
  .user_connect {
    display: none;
  }
  .panier {
    display: none;
  }
  .icon_wrapper span {
    padding-inline: 0;
  }
  .pub_container {
    height: fit-content;
  }
  .pub_container iframe {
    height: 300px;
    width: 100%;
    padding: 0;
    border: none;
  }
  .banner_container {
    flex-direction: column;
    align-items: center;
    height: auto;
    row-gap: 1rem;
  }
  .image_container {
    width: 100%;
    height: 300px;
    gap: 0;
  }
  .column1 img {
    width: 12rem;
    height: 100%;
  }
  .column2 img {
    width: 290px;
    height: 50%;
  }
  .banner_text {
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
  }
  .banner_text h1 {
    font-size: 18px;
  }
  .banner_text h6 {
    font-size: 16px;
  }
  .banner_text p {
    font-size: 14px;
  }
  .promotion {
    row-gap: 0.75rem;
  }
  .promotion h1,
  .banner_background h1 {
    font-size: 16px;
  }
  .banner_background p {
    font-size: 14px;
  }
  .promotion a {
    row-gap: 0.25rem;
    height: 140px;
  }
  .promotion p {
    font-size: 12px;
    width: 20rem;
  }
}
@media (max-width: 900px) {
  .carousel-contante img {
    width: 100%;
    height: 100vh;
  }
  .banner_background {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .carousel-contante1 {
    width: 90%;
    left: 10%;
    top: 40%;
  }

  .title-caro {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }

  .text_container select,
  .text_container a {
    font-size: 12px;
    margin-bottom: 8px;
    width: fit-content;
  }
  .text {
    font-size: 12px;
    line-height: 16px;
    row-gap: 0.5rem;
  }
}
@media (max-width: 660px) {
  /* .carousel-contante img {
    width: 100%;
    height: 45vh;
  } */
  .text_container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .all_products {
    padding-inline: 0;
  }
  .prodimg {
    width: 170px;
  }
  .product_container {
    column-gap: 10px;
    row-gap: 20px;
  }
  /* .image_container {
    height: 200px;
  } */
  .promotion {
    flex-direction: column;
    gap: 0;
  }
  .promotion a {
    height: fit-content;
  }
  .promotion .case {
    margin-bottom: 0;
  }
  .promotion > div {
    justify-self: flex-end;
  }

  .promotion > .first_line > div,
  .promotion > .second_line > div {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 400px) {
  .column1,
  .column2 {
    height: auto;
  }
  .column2 {
    height: 90%;
  }
}
